nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 6rem;
    padding: 0 2.4rem;
}

ul {
    background-color: black;
    color: white;
    list-style: none;
    display: flex;
    gap: 6rem;
}

li {
    background-color: black;
    color: white;
}

/* Aplicando text-decoration apenas aos links dentro de li */
li a {
    text-decoration: none;
    color: white; /* Adicionando a cor aqui para garantir que se aplique */
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    color: rgb(0, 221, 255); /* Muda a cor ao passar o mouse por cima */
}

main {
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 6rem;
    padding: 0 2.4rem;
}

.sociais_rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    max-width: 60px;
    margin-left: 30px;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}